<section id="experience">

    <h2>Experience</h2>

    <div class="experience-overview">

        <div class="experience-entry">

            <div class="experience-years">
                2024 – 2026
            </div>

            <div class="experience-details">

                <div class="company-name">Dekobo Spain S.L.</div>

                Mechanical Engineer<br />

                <div class="experience-location">
                    Pedreguer, Spain
                </div>

            </div>

        </div>

        <div class="experience-entry">

            <div class="experience-years">
                2019 – 2024
            </div>

            <div class="experience-details">

                <div class="company-name">Flowserve Corporation</div>

                <div class="role-row">
                    <span>Senior Product Engineer</span>
                </div>

                <div class="role-row">
                    <span>Staff Product Engineer</span>
                </div>

                <div class="role-row">
                    <span>Associate Product Engineer</span>
                </div>

                <div class="experience-location">
                    Budapest, Hungary
                </div>  

            </div>

        </div>

        <div class="experience-entry">

            <div class="experience-years">
                2018 – 2019
            </div>

            <div class="experience-details">

                <div class="company-name">Matic Kft.</div>

                Mechanical Engineer<br />

                <div class="experience-location">
                    Tiszaalpár, Hungary
                </div>

            </div>

        </div>

        <div class="experience-entry">

            <div class="experience-years">
                2016
            </div>

            <div class="experience-details">

                <div class="company-name">Linamar Hungary Zrt.</div>

                Engineering Intern<br />

                <div class="experience-location">
                    Békéscsaba, Hungary
                </div>

            </div>

        </div>

    </div>

    <a class="view-all" href="/experience">
        See Detailed Experience →
    </a>

</section>