---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "../data/projects";

const featuredProjects = projects
    .filter(project => project.featured)
    .slice(0, 3);
---

<section id="projects" class="featured-projects">

    <h2>Projects</h2>

    <div class="project-grid">

        {
            featuredProjects.map(project => (

                <ProjectCard
                    image={project.heroImage}
                    title={project.title}
                    link={`/projects/${project.slug}`}
                />

            ))
        }

    </div>

    <a class="view-all" href="/projects">
        See All Projects →
    </a>

</section>