---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { home = false } = Astro.props;
---

<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8" />

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />

    <meta name="robots" content="noindex, nofollow" />

    <meta property="og:title" content="Tihamér Gál | Mechanical Engineer" />

    <meta property="og:site_name" content="Tihamér Gál" />

    <meta
    property="og:description"
    content="Mechanical Engineer | Product Development | Design Engineering"
    />

    <meta
    property="og:image"
    content="https://tihamergal.com/og-image.jpg"
    />

    <meta
    property="og:image:alt"
    content="Tihamér Gál | Mechanical Engineer"
    />

    <meta
    property="og:url"
    content="https://tihamergal.com"
    />

    <meta property="og:type" content="website" />

    <meta
    name="twitter:card"
    content="summary_large_image"
    />

    <meta
    name="twitter:title"
    content="Tihamér Gál | Mechanical Engineer"
    />

    <meta
    name="twitter:description"
    content="Product Development | Value Engineering | Process Improvement"
    />

    <meta
    name="twitter:image"
    content="https://tihamergal.com/og-image.jpg"
    />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="icon" href="/favicon.ico" />

    <title>Tihamér Gál | Mechanical Engineer</title>

</head>

<body>

    <Navbar home={home} />

    <main>

        <slot />

    </main>

    <Footer />

</body>

</html>